<div class="conatiner">
    <h1>Welcome to Virtual Kanban Board</h1>
    <h3>To use Virtual Kanban Boards, you need to login or register.</h3>
    <div class="conatiner mb-3">
        <p>New to Virtual Kanban Boards? Register to get started.</p>
        <a href="/register"><button class="btn btn-success">Register</button></a>
    </div>
    <div class="container mb-3">
        <p>Already a user?</p>
        <a href="/login"><button class="btn btn-primary">Login</button></a>
    </div>
</div>